---
import Email from '../components/icons/Email.astro';
---

<div class="flex flex-row">
    <div class="basis-4/5 bg-white/5 p-2 rounded-l-md border-2 border-white text-white opacity-50">leonavarro1197@gmail.com</div>
    <div class="flex basis-1/5 justify-center bg-white/5 p-2 rounded-r-md border-2 border-white opacity-50">
        <Email />
    </div>
</div>