---
import Aastro from './icons/Aastro.astro';
---

<footer class="flex flex-col items-center justify-center w-full mx-auto mt-4 gap-x-40">
    <div class="text-sm text-gray-600 dark:text-gray-200">
        Portafolio de Leonardo Navarro
    </div>
    <p class="text-sm text-gray-600 dark:text-gray-200">
        &copy; {new Date().getFullYear()} - {new Date().getFullYear() + 1} <Aastro />
    </p>
</footer>


