---
import "../styles/global.css";
// Supports weights 100-900
import '@fontsource-variable/onest';
---

<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">
	<nav class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center
	bg-slate-900/90 border border-white/10">
		<a class="relative block px-2 py-2 text-white transition hover:text-blue-500 dark:hover:text-blue-500 " href="/">Inicio</a>
		<a class="relative block px-2 py-2 text-white transition hover:text-blue-500 dark:hover:text-blue-500 " href="#experiencia">Experiencia</a>
		<a class="relative block px-2 py-2 text-white transition hover:text-blue-500 dark:hover:text-blue-500 " href="#proyectos">Proyectos</a>
		<a class="relative block px-2 py-2 text-white transition hover:text-blue-500 dark:hover:text-blue-500 " href="#contacto">Contacto</a>
	</nav>
</header>